<nav class="sidebar" aria-label="Protogen configurator navigation">
  <ul class="sidebar-nav list-unstyled mb-0">
    <li>
      <a class="sidebar-link d-flex align-items-center rounded px-3 py-2 text-decoration-none" routerLink="/"
        routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page">
        About
      </a>
    </li>
    <li>
      <a class="sidebar-link d-flex align-items-center rounded px-3 py-2 text-decoration-none" routerLink="/config"
        routerLinkActive="active" ariaCurrentWhenActive="page">
        Config
      </a>
    </li>
    <li>
      <a class="sidebar-link d-flex align-items-center rounded px-3 py-2 text-decoration-none" routerLink="/faces"
        routerLinkActive="active" ariaCurrentWhenActive="page">
        Faces
      </a>
    </li>
    <li>
      <a class="sidebar-link d-flex align-items-center rounded px-3 py-2 text-decoration-none"
        routerLink="/matrix-config" routerLinkActive="active" ariaCurrentWhenActive="page">
        Matrix config
      </a>
    </li>
    <li>
      <a class="sidebar-link d-flex align-items-center rounded px-3 py-2 text-decoration-none" routerLink="/export"
        routerLinkActive="active" ariaCurrentWhenActive="page">
        Export
      </a>
    </li>
  </ul>
</nav>
