.app-body {
  height: calc(100dvh - 56px);
  overflow: hidden;
}

.app-sidebar {
  width: 280px;
  overflow: hidden;
  transition: width 0.25s ease;

  &.collapsed {
    width: 40px;

    app-sidebar {
      display: none;
    }
  }
}

.sidebar-toggle-row {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 4px;
}

.sidebar-toggle-btn {
  flex-shrink: 0;
}

.app-main {
  overflow-y: auto;
  height: 100%;
}
